<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YEEZY BOOST 700 MAUVE | YE$TORE</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- NAV DESKTOP -->
    <nav class="navDesktop">
        <div class="navDesktop__logoBox">
            <a href="../../index.html" class="navDesktop__logo">YE$TORE</a>
        </div>
        <div class="navDesktop__linkBox">
            <a href="#" class="navDesktop__link">Calzados</a>
            <a href="#" class="navDesktop__link">Hombre</a>
            <a href="#" class="navDesktop__link">Mujer</a>
            <a href="#" class="navDesktop__link">Accesorios</a>
        </div>
        <div class="navDesktop__iconBox">
            <a href="carrito.html" class="navDesktop__iconLink">
                <img src="../img/carrito.svg" alt="" height="28px" width="28px" class="navDesktop__iconImg">
            </a>
            <a href="cuenta.html" class="navDesktop__iconLink">
                <img src="../img/cuenta.svg" alt="" height="28px" width="28px" class="navDesktop__iconImg">
            </a>
        </div>
    </nav>
    <!-- NAV MOBILE -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand navDesktop__logo" href="../../index.html">YE$TORE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Calzados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hombre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mujer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accesorios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="carrito.html">Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cuenta.html">Cuenta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <section id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel__textBox">
                        <p class="carousel__p">BUSCA TU ESTILO ACÁ</p>
                        <a href="#productos" class="carousel__link">Ver productos</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel__textBox">
                        <p class="carousel__p">OPCIONES DE PAGO</p>
                        <a href="#" class="carousel__link">Ver opciones de pago</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel__textBox">
                        <p class="carousel__p">ENVÍOS A TODO EL PAÍS.</p>
                        <a href="#" class="carousel__link">Ver más</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
    </header>
    <!-- MAIN -->
    <main class="productCard">
        <div id="carouselExampleIndicators" class="carousel slide productCard__carusel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/yeezy-boost-700-mauve-1.webp" class="d-block w-100 productCard__img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/yeezy-boost-700-mauve-2.webp" class="d-block w-100 productCard__img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/yeezy-boost-700-mauve-3.webp" class="d-block w-100 productCard__img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/yeezy-boost-700-mauve-4.webp" class="d-block w-100 productCard__img" alt="...">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        <section class="productCard__cardBox">
            <div class="productCard__textBox">
                <h2 class="productCard__title">YEEZY BOOST 700 MAUVE</h2>
                <p class="productCard__p">Las Yeezy Boost 700 Mauve son las zapatillas diseñadas por Kanye West en colaboración con Adidas. Con tonos morados y grises, destacan por su diseño moderno. Tienen tecnología Boost para mayor comodidad, suela resistente y hoy en día son muy populares en la moda urbana.</p>
                <p class="productCard__price">$149.600</p>
                <p class="productCard__p productCard__p--white">Envíos a todo el país.</p>
            </div>
            <div class="productCard__buy">
                <div class="productCard__buyTitleBox">
                    <p class="productCard__buyTitle">Selecciona tu talle:</p>
                </div>
                <form action="#" method="get" class="productCard__form">
                    <label>
                        <input id="39" type="radio" name="39-40-41" value="39" checked> 39
                    </label>
                    <label>
                        <input id="40" type="radio" name="39-40-41" value="40"> 40
                    </label>
                    <label>
                        <input id="41" type="radio" name="39-40-41" value="41"> 41
                    </label>
                </form>
                <form action="#" method="get" class="productCard__formBtn">
                    <button type="button" class="productCard__btn">AGREGAR AL CARRITO</button>
                </form>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <footer class="footerDesktop">
        <section class="footerDesktop__section1">
            <nav class="footerDesktop__textBox1">
                <h2 class="footerDesktop__title1">TIENDA</h2>
                <ul class="footerDesktop__list1">
                    <li>
                        <a href="#" class="footerDesktop__link1">Calzados</a>
                    </li>
                    <li>
                        <a href="#" class="footerDesktop__link1">Hombre</a>
                    </li>
                    <li>
                        <a href="#" class="footerDesktop__link1">Mujer</a>
                    </li>
                    <li>
                        <a href="#" class="footerDesktop__link1">Accesorios</a>
                    </li>
                </ul>
            </nav>
            <nav class="footerDesktop__textBox2">
                <h2 class="footerDesktop__title2">AYUDA</h2>
                <ul class="footerDesktop__list2">
                    <li>
                        <a href="../../index.html" class="footerDesktop__link2">¿Quiénes somos?</a>
                    </li>
                    <li>
                        <a href="#" class="footerDesktop__link2">Opciones de pago</a>
                    </li>
                    <li>
                        <a href="#" class="footerDesktop__link2">Envíos</a>
                    </li>
                    <li>
                        <a href="#" class="footerDesktop__link2">Cambios y devoluciones</a>
                    </li>
                </ul>
            </nav>
            <nav class="footerDesktop__textBox3">
                <h2 class="footerDesktop__title3">SEGUINOS</h2>
                <div class="footerDesktop__iconBox">
                    <a href="https://www.instagram.com/" target="_blank" class="footerDesktop__iconLink">
                        <img src="../img/instagram.svg" alt="Instagram" class="footerDesktop__iconImg" height="24px" width="24px">
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="footerDesktop__iconLink">
                        <img src="../img/x.svg" alt="X" class="footerDesktop__iconImg" height="24px" width="24px">
                    </a>
                    <a href="https://www.facebook.com/" target="_blank" class="footerDesktop__iconLink">
                        <img src="../img/facebook.svg" alt="Facebook" class="footerDesktop__iconImg" height="24px" width="24px">
                    </a>
                </div>
            </nav>
        </section>
        <section class="footerDesktop__section2">
            <p class="footerDesktop__p">&copy; 2023 YE$TORE</p>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>